<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Headache</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='fever.css') }}"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/">Symptoms</a></li>
        <li><a href="/medicine">Simple Medication</a></li>
      </ul>
    </nav>
    <header>
      <h1>Headache</h1>
    </header>
    <main>
      <section class="details">
        <h2>Basic Medication Tips for Cold</h2>
        <p>1. Rest and stay hydrated.</p>
        <p>
          2. Use over-the-counter cold medications to relieve symptoms such as
          congestion, cough, and fever.
        </p>
        <p>3. Gargle with warm salt water to soothe a sore throat.</p>
        <p>
          4. Use saline nasal sprays or nasal irrigation to clear nasal
          passages.
        </p>
        <p>
          5. Wash hands frequently and avoid close contact with sick
          individuals.
        </p>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Predefined Medication Page</p>
    </footer>
  </body>
</html>
